<!--
IMPORTANT:
Any resources from this project should be referenced using SRC_PATH preprocessor var.
See examples below in the boilerplate code
-->

<!--
1. HEADER
Everything inside this comJS-app:head tag will be loaded at the end of the page's HEAD tag.
It should contain stylesheet references (and possibly other stuff) that this application requires.
-->
<!-- comJS-app:head -->

<!-- @if !IS_EMBEDDED -->
<!-- standalone apps may want to set some meta tags in here -->
<title>my_app_name</title>
<meta property="og:title" content="my_app_name">
<meta name="DC.title" content="my_app_name">
<meta name="WT.sp" content="my_app_name">
<meta property="og:description" content="Page Description">
<meta name="DC.description" lang="en" content="Page Description">
<meta name="description" content="Page Description">
<meta name="keywords" content="Key Words">
<meta name="Author" content="City of Mississauga">
<meta name="Owner" content="City of Mississauga">
<meta name="DC.language" content="en-CA">
<meta name="DC.subject" content="my_app_name">
<meta charset="UTF-8">
<!--@endif-->

<!-- From here to the next endbuild tag, all the files will be concatenated into a single file called main.css: -->
<!--@exec startBuildTagWithCacheBuster('styles/main.css')-->
<!-- comJS uses the following comJS:css/endinject tag to inject bower_components stylesheet file references: -->
<!-- comJS:css -->
<!-- endinject -->

<!-- place your application stylesheet references here: -->
<link rel="stylesheet" type="text/css" href="<!-- @echo SRC_PATH -->/styles/main.css">

<!-- endbuild -->

<!-- From here to the next endbuild tag, all the files will be concatenated into a single print-only file called core_print.css: -->
<!--@exec startBuildTagWithCacheBuster('styles/comJS_print.css', 'media="print"')-->
<!-- comJS uses the following comJS_print:css/endinject tag to inject bower_components print-only stylesheet file references: -->
<!-- comJS_print:css -->
<!-- endinject -->

<!-- place any application print-only stylesheet references here -->

<!-- endbuild -->
<!-- comJS-app:head end-->

<!--
2. BODY
Everything inside this comJS-app:body tag will be loaded inside the webpage
It should contain the HTML elements that make up the visual portion of this application.
IMPORTANT:
Remember to use unique element IDs and class names so that this app doesn't interfere with other parts of the cframe/website
-->
<!-- comJS-app:body -->
<div id="my_app_name_container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <ul class="example-section-menu">
        <li><a href="#my_app_name_form">Forms</a></li>
        <li><a href="#my_app_name_map">Maps</a></li>
        <li><a href="#my_app_name_calendar">Calendars</a></li>
        <li><a href="#my_app_name_modals">Modal Dialogs</a></li>
        <li><a href="#my_app_name_tac">Terms and Conditions</a></li>
        <li><a href="#my_app_name_bootbox">Bootbox Alerts</a></li>
        <li><a href="#my_app_name_preprocessor">Preprocessor Usage</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div id="my_app_name_welcome" class="example-section">
        <p>Hello World! This default code contains examples of things you can do with comJS.</p>
        <p>Select any item on the left to see some sample stuff.</p>
      </div>
      <div id="my_app_name_form" class="example-section">
        <p>comJS has a full featured form builder with many different field types and AODA compliance.</p>
        <p>An example form is shown here. You can combine Backbone-based model objects with forms as well (<button class="btn btn-sm btn-info">Connect a sample model</button>)</p>
        <div></div>
      </div>
      <div id="my_app_name_map" class="example-section">
        <p>comJS apps often use google maps to show items from data feeds. The OMS library can help with crowded pin placement, like in this example:</p>
        <div></div>
      </div>
      <div id="my_app_name_calendar" class="example-section">
        <p>You can use the <a target="_blank" href="https://fullcalendar.io/">full calendar plugin</a> with comJS to render a nice calendar from a data feed:</p>
        <div></div>
      </div>
 
      <div id="my_app_name_modals" class="example-section"></div>
      <div id="my_app_name_tac" class="example-section">
        <p>You can use the showTerms method of ComJSApp or comJS_app to show a standard terms and conditions UI with callback methods:</p>
        <div></div>
      </div>
      <div id="my_app_name_bootbox" class="example-section">
        <p>You can optionally include the bootbox library to use bootstrap-friendly user dialogs.</p>
        <p>Example: <button class="btn btn-info">Show a bootbox prompt</button></p>
        <p><a target=_blank href="http://bootboxjs.com/">Bootbox</a> can do other more complex alerts as well. <strong>Use comJS modals where possible though</strong>, since bootbox is not fully AODA compliant.</p>
      </div>
      <div id="my_app_name_preprocessor" class="example-section">
        <p>comJS uses <a target="_blank" href="https://www.npmjs.com/package/gulp-preprocess">gulp-preprocess</a> to preprocess HTML, Javascript, and CSS files. Here are some ways to use it:</p>
        <ul>
          <li>Generate a url to a project resource, for example an image: <!-- @echo SRC_PATH -->/img/sample.jpg</li>
          <li>Print out preprocessor values. Here are the ones included in every comJS project (you can add more in your gulpfile):
            <ul>
              <li>ENV is the current build/run environment: <!-- @echo ENV --> </li>
              <li>SRC_PATH is the deployment path to the src folder: <!-- @echo SRC_PATH --> </li>
              <li>BUILD_ID is a unique id/timestamp generated every time you build the app: <!-- @echo BUILD_ID --></li>
              <li>QA_RELEASE is the current value of the qaRelease property of your package.json file: <!-- @echo QA_RELEASE --></li>
              <li>VERSION is the current value of the version property of your package.json file: <!-- @echo VERSION --></li>
              <li>IS_EMBEDDED indicates whether or not this is an embedded app: <!-- @echo IS_EMBEDDED --></li>
            </ul>
          </li>
          <li>Include code based on the current build environment:
            <!-- @if ENV='local' || ENV='dev' -->
            <span>This sentence, for example, is only visible when running on your local machine or on a development build.</span>
            <!-- @endif -->
          </li>
          <li>You can do more advanced things as well. See <a target="_blank" href="https://github.com/jsoverson/preprocess#directive-syntax">preprocess</a> for more about preprocessor syntax.</li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- comJS-app:body end-->

<!--
3. FOOTER
Everything inside the comJS-app:footer tag will be loaded at the end of the page's BODY tag.
It should contain script references that this application requires.
-->
<!-- comJS-app:footer -->

<!--This google maps link is included for the example code.-->
<!--Note that because this is loaded via CDN, it MUST be placed before the start of the build tag below-->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?client=gme-cityofmississauga&amp;channel=example_app"></script>

<!-- From here to the next endbuild tag, all the files will be concatenated into a single file called main.js: -->
<!--@exec startBuildTagWithCacheBuster('scripts/main.js')-->
<!-- comJS uses the following comJS:js/endinject tag to inject bower_components javascript file references: -->
<!-- comJS:js -->
<!-- endinject -->

<!-- place your application script references here: -->
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/example_form.js"></script>
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/example_map.js"></script>
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/example_app.js"></script>
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/demo_form.js"></script>
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/main.js"></script>

<!-- endbuild -->

<!--@if ENV!='prod'-->
<!-- Here we log out some debug info for non-production builds-->
<script type="text/javascript">
  console.log('my_app_name running on <!--@echo ENV--> environment');
  console.log('my_app_name qa release: <!--@echo QA_RELEASE-->');
  console.log('my_app_name build: <!--@echo BUILD_ID-->');
</script>
<!--@endif-->

<!-- comJS-app:footer end-->
