#skippy {
  display: block;
  padding: 1rem;
  text-align: center;
  color: #165788;
}
#main .checkboxLabel, #main .radioLabel {font-weight:normal;}
#main .grid-object.table-responsive {margin:0px;}
#main div.has-error, #main td.has-error {border: 0px;}
#main .grid-add span.glyphicon, #main .grid-minus span.glyphicon {margin:0px;padding:3px 0px;}
#main .grid-add , #main .grid-minus {margin:0px;vertical-align:middle; }
#main .help-block {clear: both;}
#app-header .securesite {text-align: right;}
#app-header .securesite img {width:30px;margin:10px;}
#breadcrumb-bar .glyphicon-home {margin-right: 5px;}
#main button.multiselect {line-height: 20px;padding:6px 12px !important;}
#main ul.multiselect-container li.active a {background-color: white;}
.form-inline .input-group {width: 100%;}
.tixno a {text-decoration: underline;}
#main form .panel-body, #main .grid-table tr td {background-color:#f5f5f5; border-radius:5px;}
#main span.glyphicon {margin-right:3px;}
#main .grid-object {padding: 15px;}
#main table.grid-table {font-size: .9em;}
#main table.grid-table th {padding:0px 5px; line-height:38px; color: black; font-weight: normal; border-bottom: 1px solid #aaa;}
#main table.grid-table td {padding:5px; border-bottom: 1px solid #aaa;}
#main h4.grid-title {border-bottom:2px solid #000; olor: black; font-size: 1em;}
#main .text-right {text-align:right;}
#main .text-left {text-align:left;}
#main h1, #main h2 {color: #045aa5;}
#main .table-responsive {margin:0px 10px;}
#main .btn-group button {margin: 0px 0px 5px 0px;}
#main .entryField {position: relative;}
#main .panel-heading h3 {margin:0px;}
#comJS-header form.form-inline[role=search] legend {padding: 0px; margin:0px;border-bottom:0px;font-size: 1em;}
#comJS-header .siteIcon {background-image: url(//livinginmississuaga.gif);}
#app-header {padding: 0px; margin:0px;}
#app-header h1 {font-size: 2.5em;padding: 10px 0px;margin:0px;color: black;}
#app-header .glyphicon-lock {font-size: 2em; padding: 10px; margin:0px; color: yellow;}
#app-breadcrumb .breadcrumb {margin:0px;}
#comJS-terms-title h2 {margin:5px 0px;}
#main form a {text-decoration:underline; color: blue;}
#main form .dropdown-menu .active a {text-decoration:underline; }
#main form .dropdown-menu a {text-decoration: none; color: #666;}
#main .componentTitle {background-color: #ddd;}
#main {margin-bottom: 50px;}
#main ul {margin:10px;}
#main .btn-group {display:block;}
#main input[type="radio"],#main input[type="checkbox"] {width:20px; min-width:0; box-shadow:none; display: inline-block; height:15px;}
#main .vertical, #main label.vertical {display: block;}
#main .horizontal, #main .horizontal {display: inline-block; padding: 0px 10px;vertical-align: top;}
#main .form-group  {margin-bottom:25px;}
#main textarea {display:block; width:100%; height:70px;}
#main button {margin:5px;}
#main .staticlabel {font-weight: bold; display: block; margin:0 0 5px 0;}
#main .helptext {font-style: italic; margin:0px;color:#434343;}
#main .optional {margin-left:5px; font-weight: normal; color:#666;}

#appDisplay .form-control-feedback {
  top: 0px;
}
#appDisplay .datetimepicker .form-control-feedback {
  margin-right: 42px;
}
#appDisplay .dropdown-entry-field .form-control-feedback {
  margin-right: 15px;
}
#main .intl-tel-input {display:block;}
#appDisplay .intl-tel-input .form-control-feedback  {top:0px;}

#appDisplay fieldset i.form-control-feedback {
  position: static;
  float: right;
  width: 0;
  height: 0;
  line-height: 26px;
  font-size: 16px;
}
#appDisplay fieldset.form-control {padding: 4px 24px 0 12px;}
#appDisplay select.form-control {height: 34px;}
#main .form-control {height:auto;}
#main .intl-tel-input ul {list-style-type: none; padding: 0px; overflow-y: auto; margin:0px;}
/*DATE PICKER*/
.bootstrap-datetimepicker-widget ul li {list-style: none;}
.bootstrap-datetimepicker-widget  ul {padding:0px !important; }
.bootstrap-datetimepicker-widget table {width:100%; margin:0px !important; padding:0px !important;}
.bootstrap-datetimepicker-widget table td {margin:0px !important; padding:0px !important; text-align: center !important; vertical-align: middle !important;border: 1px solid #ccc;}
.bootstrap-datetimepicker-widget table tr {margin:0px !important; padding:0px !important; text-align: center;}
.bootstrap-datetimepicker-widget table th {margin:0px !important; padding:3px !important; text-align: center !important; border: 1px solid #ccc; color: black !important;}
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {font-weight: normal; color: #990000 !important; text-decoration: line-through;}
.bootstrap-datetimepicker-widget table td span,
.bootstrap-datetimepicker-widget table td span:hover {color: black; font-weight: bold;}
/*BUTTON BAR */
#main #buttonbar .btn-bar {margin-top: 20px;}
#main #buttonbar button  {min-width: 120px;}
#main #buttonbar  button .buttontext {margin:0px 5px;}
#main #buttonbar .navbar .nav-pills {margin:0px; padding: 0px;}
#main #buttonbar .navbar li {margin-right: 10px;text-align: center; min-width:130px; background-color: #eee; border:1px solid #ccc; border-radius:5px;}
#main #buttonbar .navbar li.active a:hover {background-color: #337ab7 !important;}
#main #buttonbar .navbar li p {margin: 0px;}
#main #buttonbar .navbar li .btntitle {}
#main #buttonbar .navbar li .btndesc {font-size: .85em;}
#main .glyphicon-info-sign {margin-left: 5px; color: #346488;font-size: 1.15em;}
#main .tooltip-inner {background-color: #346488; color: white;}
#main .tooltip-arrow {border-top-color: #346488;}
